html,
body{
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: Verdana, 'Geneva', Tahoma;
    background-color: brown;
    margin: 0;
}

.header,
.nav {
    margin: 10em;
    padding: 12px;
    align-items: center;
    /* justify-content: left; */
}

h1{
    font-style: oblique;
}

.container img{
    height: 100%;
    width: 100%;
}

.content{
    background-color: grey;
}
.description{
    color: bisque;
}

.para{
    color: rgb(230, 142, 156);
    text-align: center;
}

.list, #list-items{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(152, 226, 152);
}

.list{
    color: blue;
}

h4{
    font-size: 20px;
    font-weight: bolder;
}

#steps{
  
    justify-content: left;
}
