html,
body{
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: Verdana, 'Geneva', Tahoma;
    background-color: brown;
}

h1{
    font-style: oblique;
}

.container img{
    height: 100%;
    width: 100%;
}

.description{
    color: bisque;
}

.para{
    color: rgb(230, 142, 156);
    text-align: center;
}

.list, #list-items{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(152, 226, 152);
}

.list{
    color: blue;
}
/*
#list-items{
    color: rgb(152, 226, 152);
}*/

h4{
    font-size: 20px;
    font-weight: bolder;
}
